USAGE_LOGGERS_URL=http://localhost:7701/message
USAGE_LOGGERS_RULES=include debug
USAGE_LOGGERS_EBPF_ROLE=client
USAGE_LOGGERS_EBPF_EXPATH=/lib/x86_64-linux-gnu/libssl.so.3
USAGE_LOGGERS_EBPF_LOG_LEVEL=3